.ckeditor-container {
    width: 800px;
    height: 900px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    padding: 6px;
}

.print_iframe {
    width: 800px;
    height: 900px;
    border: none;
}

.action_list {
    margin-top: 12px;
    text-align: center;
}

.action_list button {
    font-size: 16px;
}